body {
  font-family: 'Ubuntu', sans-serif;
  background: #9eb6a0;
  background: -webkit-linear-gradient(to right, #b69d9c, #9eb6a0);
  background: linear-gradient(to right, #b69d9c, #9eb6a0);
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  background-attachment: fixed;
  margin: 1rem;
}

h1, h2 {
  color: #521414;
  text-shadow: 0 0 0.2rem rgba(168, 34, 34, 0.6);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .wrapper {
    width: 50%;
    height: 17rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transition: height 0.3s;
  }
}

.wrapper {
  border: 0.1rem solid rgba(62, 82, 62, 0.1);
  padding: 1.5rem 1.5rem;
  background-color: rgba(92, 124, 93, 0.9);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 3rem 0 rgba(57, 66, 58, 0.8);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.2rem;
  font-size: 1.2rem;
  color: #521414;
}

button, input {
  font-family: 'Ubuntu', sans-serif;
  border: 0.05rem solid #521414;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0.2rem 0.2rem;
  box-shadow: 0 0 1rem 0 rgba(77, 88, 85, 0.8);
}

input {
  background-color: white;
  color: #505863;
}

input:focus, input:active, button:focus {
  outline: none;
}

button {
  background-color: #be7871;
  color: #521414;
}

button:hover {
  background-color: #782929;
  color: #e9ccc9;
  /*border: 0.05rem solid #e9ccc9;*/
  box-shadow: 0 0 1rem 0.2rem rgba(77, 88, 85, 0.8);
  transition: all 0.2s;
}
